*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
include/
local/
share/
lib64

# Installer logs
pip-log.txt

repos/
*.py[oc]
*.py~
nosetests.xml

# Translations
*.scssc

*.map
.DS_Store
build
.Python
.cache
