<div law-search></div>

<div class="viewer-option-panel">
    <div prev-next-button="{{prevSubsection}}" prev></div>
    <div prev-next-button="{{nextSubsection}}" next></div>

    <div class="compare-text">
        Compare
        <select ng-model="m.version1"
            class="inline"
            ng-change="versionChange()"
            ng-options="v for v in availableVersions">
        </select>
        to
        <select ng-model="m.version2"
            class="inline"
            ng-change="versionChange()"
            ng-options="v for v in availableVersions">
        </select>
        <a ng-click="updatePath()"
            ng-show="showUpdateButton"
            class="update">
                Update
        </a>
    </div>
</div>

<div user-feedback></div>

<div law-header 
    code="{{lawCode}}"
    title="{{version2Title}}"
    subsection="{{subsection}}">
</div>

<div class="row" ng-show="diffLines.length == 0">
    <div class="panel">
        Nothing changed between {{currentVersion1}} and {{currentVersion2}}.
    </div>
    
</div>

<div ng-show="diffLines">
    <div diff-legend v-one="currentVersion1" v-two="currentVersion2"></div>
    <div inline-diff lines="diffLines"></div>
</div>
