<div ng-controller="OrsTocCtrl">

    <div class="row">
        <div class="small-12 columns">
            <h3 class="subheader">Oregon Revised Statutes</h3>
        </div>
    </div>

    <form>
        <div class="row collapse">
            <div class="small-2 columns">
                <span class="prefix">
                    Navigate ORS
                </span>
            </div>
            <div class="small-10 columns">
                <input type="text"
                    placeholder="Enter subsection, title, or both"
                    ng-model="m.filterInput"
                    ng-change="searchInputChange(m.filterInput)"
                    autofocus>
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns"></div>
            <div class="small-10 columns">
                <small>
                    <div class="row">
                        <div class="small-12 columns">
                            <em>{{interpretedSearch}}</em>
                            <p ng-show="searchChapter">
                                <span ng-show="!searchVolume">
                                    No volume found!
                                </span>
                                <span ng-show="searchVolume">
                                    Volume {{searchVolume.volume}}. {{searchVolume.title}}
                                </span>
                            </p>
                            <p ng-show="searchChapter">
                                Chapter {{searchChapter}}
                            </p>
                        </div>
                    </div>
                </small>
            </div>
        </div>
    </form>

    <div ng-show="tocData" ng-show="false">
        <div class="row" ng-repeat="(volNum, volData) in tocData.volumes">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        Volume {{volNum}}. {{volData.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
