<div>
    <div class="viewer-option-panel" ng-show="currentSubsection">
        <div prev-next-button="{{prevSection}}" prev></div>
        <form class="version-select" ng-show="false">
            <div class="inner">
                <div class="vs-label">
                    <label>Viewing Version</label>
                </div>
                <div class="select">
                    <select ng-model="m.selectedVersion"
                        ng-options="v for v in lawVersions"
                        ng-change="selectedVersionChange(m.selectedVersion)">
                    </select>
                </div>
            </div>
        </form>
        <div class="version" ng-show="false">
            <label>Compare Year</label>
            <select ng-model="m.compareYear"
                ng-options="year for year in currentLaw.versions">
            </select>
        </div>

        <div prev-next-button="{{nextSection}}" next></div>
    </div>

    <div law-header
        code="{{currentLawCode}}"
        title="{{lawTitle}}"
        subsection="{{currentSubsection}}"
        ng-show="currentSubsection">
    </div>
    
    <div class="row" ng-show="lawText">
        <div class="small-12 columns">
            <pre>{{lawText}}</pre>
        </div>
    </div>

</div>
