// Compass
@import "compass/css3/inline-block";

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

pre {
    font-family: $pre-font-family;
    font-size: $pre-font-size;
    line-height: $pre-line-height;
}

nav {
    li.name .subtitle {
        font-style: italic;
        color: $primary-color;
        font-size: $small-font-size;
    }

    li.current-state a {
        color: $nav-state-color;
    }
}

.centered {
    text-align: center;
}

.content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.law-title {
    @include grid-row;
    margin-bottom: 10px;

    & > div {
        @include grid-column(12);
    }
}

.version-select {
    .inner {
        @include grid-row;
    }
    .vs-label {
        @include grid-column(2);
        label {
            @extend .right;
        }
    }
    .select {
        @include grid-column(2);
    }
}


.viewer-option-panel {
    @include grid-row;

    select {
        margin: 0;

        &.inline {
            width: 70px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .label-wrapper {
        @include grid-column(2);
        label {
        }
    }

    .version-select-wrapper {
        @include grid-column(2);
    }
    
    .next, .prev {
        @include grid-column(2);

        & > a {
            @extend .button;
            @extend .secondary;
            @extend .tiny;
            margin: 0;
        }
    }

    .next {
        @extend .right;
        text-align: right;
    }

    .compare-text {
        @include grid-column(8, false, true);
        text-align: center;
    }

    a.update {
        @extend .button;
        @extend .tiny;
        margin: 0;
    }
}

.diff-container {
    @include grid-row;
    border: 1px solid $panel-border-color;
    font-family: $pre-font-family;
    margin-bottom: $paragraph-margin-bottom;
}

.diff-legend-header {
    @include grid-row;
    position: relative;
    top: 1px;
    table {
        @include grid-column(12);
        margin: 0;
    }
}

.diff-line-table {
    border: 0;
    margin: 0;
    width: 100%;

    .plus-minus {
        text-align: center;
        width: 25px !important;
        border-right: 1px solid $panel-border-color;
    }
}

.diff-subtraction {
    background-color: $diff-subtraction-color;
}

.diff-addition {
    background-color: $diff-addition-color;
}
