
<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" {% block htmltag %}{% endblock %}> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <base href="/app">
    <title>{% block title %}LawDiffs{% endblock %}</title>
  
    {% block css %} {% endblock %}

    <script src="{{url_for('static', filename='javascripts/vendor/custom.modernizr.js')}}"></script>
    
</head>
<body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
            <h1>
                <a href="/">
                    <span class="color-one">law</span><span class="color-two">digger</span>
                </a>
            </h1>
        </li>
      </ul>

      {% block navsections %}
      {% endblock %}
    </nav>

    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

{% block js %}
      <script>
      document.write('<script src=' +
      ('__proto__' in {} ? '/static/javascripts/vendor/zepto' : '/static/javascripts/vendor/jquery') +
      '.js><\/script>')
      </script>

      <script src="{{url_for('static', filename='javascripts/foundation/foundation.js')}}"></script>

      <script>
        $(document).foundation();
      </script>

{% endblock %}

</body>
</html>
