
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="myLilApp"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Foundation 4</title>

  
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}">
  

  <script src="{{url_for('static', filename='javascripts/vendor/custom.modernizr.js')}}"></script>

</head>
<body>
{% raw %}

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
            <h1>
                <a href="/">
                    LawDiffs
                    <span class="subtitle">Oregon</span>
                </a>
            </h1>
        </li>
      </ul>
    </nav>

    <div ng-view></div>    

{% endraw %}
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/static/javascripts/vendor/zepto' : '/static/javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
    <script src="{{url_for('static', filename='bower_components/angular/angular.js')}}"></script>
    
    <script src="{{url_for('static', filename='bower_components/underscore/underscore.js')}}"></script>
    
    <script src="{{url_for('static', filename='javascripts/foundation/foundation.js')}}"></script>

	<script src="{{url_for('static', filename='javascripts/foundation/foundation.abide.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.alerts.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.clearing.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.cookie.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.dropdown.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.forms.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.interchange.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.joyride.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.magellan.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.orbit.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.placeholder.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.reveal.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.section.js')}}"></script>
	
	<script src="{{url_for('static', filename='javascripts/foundation/foundation.tooltips.js')}}"></script>
	
    <script src="{{url_for('static', filename='javascripts/foundation/foundation.topbar.js')}}"></script>
    
	<script src="{{url_for('static', filename='javascripts/app.js')}}"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
