{% extends "base.html" %}

{% block title %}LawDiffs: Welcome{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/app.css')}}">
{% endblock %}

{% block content %}

<div class="centered">
    <h1>LawDiffs</h1>
    <h2 class="subheader">Watch the law evolve.</h2>
</div>
<div class="centered">
    <p>
        LawDiffs allows you to easily compare versions of a law over time.
    </p>
    <p>
        <a href="/view/ors" class="button">Get Started</a>
    </p>
</div>

{% endblock %}

{% block js %}
{{ super() }}
      <script>
        $(document).foundation();
      </script>

{% endblock %}
